<app-nav-bar></app-nav-bar>

<div class="">
  <div class="">
    <div class=" ">
      <div class="">
        <div class="">
          <div class="depicter-bg-video-container depicter-background-video-container">
            <video class="depicter-bg-video" loop autoplay
                   src="assets/videos/video1.mp4" preload="metadata"
                   playsinline="" muted="true" data-goto-next="true" data-object-fit="cover"
                   webkit-playsinline=""></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
