
<div class="video-wrapper">
  <video playsinline autoplay muted loop>
    <source src="assets/videos/video.mp4" type="video/mp4">
  </video>

  <div class="header">
    <div class=" fixed-top">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-4 col-sm-12">
        <div class="animate-charcter">
          <h1>We keep the world flying</h1>
        </div>
        <div class=" box-left">
          Pal Aviation is an aftermarket aircraft part supplier providing rotable
          spares for your commercial, regional and business aircraft.
        </div>
        <button class="btn  btn-outline "> <a href="contact">Contact us</a></button>
      </div>
 <!--     <div class="col-lg-5 col-md-4 col-sm-12">
        <div id="carouselExampleInterval" class="carousel small" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active animate-img-top" data-bs-interval="10000">
              <img src="assets/imgs/accueil1.jpg" class="me-3 " alt="...">
            </div>
            <div class="carousel-item animate-charcter" data-bs-interval="10000">
              <img src="assets/imgs/accueil2.jpg" class="me-3 " alt="...">
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="assets/imgs/logo-pal-aviation4.png" class="d-block " alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="assets/imgs/accueil1.jpg" class="d-block " alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="assets/imgs/accueil2.jpg" class="d-block " alt="...">
    </div>
  </div>
</div>

