<app-nav-bar></app-nav-bar>

<div class="depicter-layers-wrapper">
  <div class="depicter-layers-fold">
<!--    <div class="depicter-background-container depicter-bg-container">
      <div class="depicter-background-animation-wrap">
        <div class="depicter-section-background">
          <div class="depicter-bg-video-container depicter-background-video-container">
            <video class="depicter-bg-video"
                   src="assets/videos/video.mp4" preload="metadata"
                   playsinline="" muted="true" data-goto-next="true" data-object-fit="cover"
                   data-object-position="50% 50%" style="object-fit: cover; object-position: 50% 50%;"
                   webkit-playsinline=""></video>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</div>
