<footer class=" ">
    <!--<div class="row ms-5 me-3">
      <div class=" col-lg-3 col-md-3 col-sm-12  logo">
        <img src="assets/imgs/palCertificat.jpg" alt="Certificate" class="w-100">
      </div>
      <div class=" col-lg-2 col-md-3 col-sm-12">
        <h1 class="text-uppercase ">links</h1>
              <div class=" "><i class="bi bi-house"></i><a href="accueil" aria-current="page">Home</a></div>
              <div class=" "><i class="bi bi-door-open"></i><a href="about">About Us</a></div>
              <div class=" "><i class="bi bi-gear"></i><a href="ourService">Services</a></div>
              <div class=""><i class="bi bi-house-gear"></i><a href="stocks">Our Stock</a></div>
              <div class=" "><i class="bi bi-chat-dots"></i><a href="contact">Contact</a></div>
      </div>
      <div class=" col-lg-3 col-md-3 col-sm-12"><h1 class="text-uppercase mb-3">e-mails</h1>
      <a
        href="mailto:Repairs@pal-aviation.ee"> <i class="bi bi-envelope"></i> Repairs@pal-aviation.ee<br></a><a
        class=""
        href="mailto:Marketing@pal-aviation.ee"><i class="bi bi-envelope"></i> Marketing@pal-aviation.ee<br></a><a
        href="mailto:sales@pal-aviation.ee"><i class="bi bi-envelope"></i> sales@pal-aviation.ee<br></a>
      </div>
      <div class=" col-lg-4 col-md-4 col-sm-12"><h1 class="text-uppercase">Get in touch<br></h1>
        <a href="">
        <div class="">
          <div><i class="bi bi-geo-alt"></i><span>Tiskrevälja tn 59-12, 13516 Tallinn, Estonie</span></div>
          <div><i class="bi bi-geo-alt"></i><span>20 Rue Dr Roux, Casablanca 20290, Morocco</span></div>
        </div>
      </a>
        <a class="" href="tel:+212522903521" target="_self">
        <div class="">
          <div><i class="bi bi-phone"></i><span>(+212) 345 65 76 32</span></div>
        </div>
      </a>
        <a class="" href="tel:+212649319434" target="_self">
        <div class="">
          <div><i class="bi bi-phone"></i><span>(+212) 765 22 98 31</span></div>
        </div>
       </a>
      </div>
    </div>-->
  <div class=" box-certificat">
    <span class="w-25 ">
      <img src="assets/imgs/palCertificat.jpg" alt="Certificate" class=" ">
    </span>
    <span class="link">
      <h1 class="text-uppercase ">links</h1>
      <div class=" "><i class="bi bi-house"></i><a href="accueil" aria-current="page">Home</a></div>
      <div class=" "><i class="bi bi-door-open"></i><a href="about">About Us</a></div>
      <div class=" "><i class="bi bi-gear"></i><a href="ourService">Services</a></div>
      <div class=""><i class="bi bi-house-gear"></i><a href="stocks">Our Stock</a></div>
      <div class=" "><i class="bi bi-chat-dots"></i><a href="contact">Contact</a></div>
    </span>
    <span class="mail"><h1 class="text-uppercase mb-3">e-mails</h1>
      <a
        href="mailto:Repairs@pal-aviation.ee"> <i class="bi bi-envelope"></i> Repairs@pal-aviation.ee<br></a><a
        class=""
        href="mailto:Marketing@pal-aviation.ee"><i class="bi bi-envelope"></i> Marketing@pal-aviation.ee<br></a><a
        href="mailto:sales@pal-aviation.ee"><i class="bi bi-envelope"></i> sales@pal-aviation.ee<br></a>
    </span>
    <span class=" "><h1 class="text-uppercase">Get in touch<br></h1>
      <a href="">
        <div class="">
          <div><i class="bi bi-geo-alt"></i><span>Tiskrevälja tn 59-12, 13516 Tallinn, Estonia</span></div>
          <div><i class="bi bi-geo-alt"></i><span>20 Rue Dr Roux, Casablanca 20290, Morocco</span></div>
        </div>
      </a>
      <a class="" href="tel:+3726170449" target="_self">
        <div class="">
          <div><i class="bi bi-phone"></i><span>(+372) 617 0449</span></div>
        </div>
      </a>
    </span>
  </div>
    <div>
        <div class="sociaux">
          <span class="twitter"><a href="https://twitter.com/pal_ou" class="">
          <img src="assets/imgs/twitter.png" alt="twitter" ></a>
        </span>
          <span class="linkedin"><a href="https://www.linkedin.com/company/pal-aviation-o%C3%BC" class="">
          <img src="assets/imgs/linkedin.png" alt="linkedin" ></a>
        </span>
        </div>
    </div>
    <hr>
    <div class="text-center">© PAL - AVIATION 2023 - All Rights Reserved</div>
</footer>

