<footer class=" ">
  <div class="">
    <div class="row ms-5 me-3">
      <div class=" col-lg-3 col-md-3 col-sm-12  logo">
        <img src="assets/imgs/logoPal2.jpg" alt="logo" class="w-75">
      </div>
      <div class=" col-lg-2 col-md-3 col-sm-12">
        <h1 class="text-uppercase ">links</h1>
              <div class=" "><i class="bi bi-house"></i><a href="accueil" aria-current="page">Home</a></div>
              <div class=" "><i class="bi bi-door-open"></i><a href="about">About Us</a></div>
              <div class=" "><i class="bi bi-gear"></i><a href="ourService">Services</a></div>
              <div class=""><i class="bi bi-house-gear"></i><a href="stocks">Our Stock</a></div>
              <div class=" "><i class="bi bi-chat-dots"></i><a href="contact">Contact</a></div>
      </div>
      <div class=" col-lg-3 col-md-3 col-sm-12"><h1 class="text-uppercase">emails</h1><a
        href="mailto:contact@pal-aviation.com"><i class="bi bi-envelope"></i> contact@pal-aviation.com<br></a><a
        href="mailto:aog@pal-aviation.com"> <i class="bi bi-envelope"></i> aog@pal-aviation.com<br></a><a
        class=""
        href="mailto:support@pal-aviation.com"><i class="bi bi-envelope"></i> support@pal-aviation.com<br></a><a
        href="mailto:sales@pal-aviation.com"><i class="bi bi-envelope"></i> sales@pal-aviation.com<br></a><a
        class="" href="mailto:legal@pal-aviation.com"><i class="bi bi-envelope"></i> legal@pal-aviation.com<br></a>
      </div>
      <div class=" col-lg-3 col-md-3 col-sm-12"><h1 class="text-uppercase">Get in touch<br></h1>
        <a href="">
        <div class="">
          <div><i class="bi bi-geo-alt"></i><span>Casablanca, Morocco</span></div>
        </div>
      </a>
        <a class="" href="tel:+212522903521" target="_self">
        <div class="">
          <div><i class="bi bi-phone"></i><span>(+212) 345 65 76 32</span></div>
        </div>
      </a>
        <a class="" href="tel:+212649319434" target="_self">
        <div class="">
          <div><i class="bi bi-phone"></i><span>(+212) 765 22 98 31</span></div>
        </div>
       </a>
      </div>
    </div>
    <div>
      <ul class="navbar-nav gap-2 flex-row align-self-start justify-content-center mt-2">
        <li class="facebook"><a href="https://fr-fr.facebook.com/" class=""><i
          class="btn btn-icon btn-social bi bi-facebook btn-inverse"></i></a>
        </li>
        <li class="instagram"><a href="https://www.instagram.com/" class=""><i
          class="btn btn-icon btn-social bi bi-instagram btn-inverse"></i></a></li>
        <li class="linkedin"><a href="https://www.Linkedin.com/" class=""><i
          class="btn btn-icon btn-social bi bi-linkedin btn-inverse"></i></a></li>
      </ul>
    </div>
    <hr>
    <div class="text-center">© PAL - AVIATION 2023 - All Rights Reserved</div>
    <div class="text-center">Made by
      <a class="text-center" href="#">
        <span title="DOUGNON KALILOU">KD Digital services</span>
      </a>
    </div>
  </div>
</footer>

