<footer class=" ">
  <div class="">
    <div class="row">
      <div class=" col-lg-3 col-md-3 col-sm-12 mb-2">
        <img src="assets/imgs/logo-pal.jpg" alt="logo" class="w-75">
      </div>
      <div class=" col-lg-3 col-md-3 col-sm-12"><h1 class="text-uppercase ms-4">links</h1>
        <nav class=" ">
            <ul class="">
              <li class=" "><a href="home" aria-current="page">Home</a></li>
              <li class=" "><a href="about">About Us</a></li>
              <li class=" "><a href="service">Services</a></li>
              <li class=""><a href="stocks">Our Stock</a></li>
              <li class=" "><a href="contact">Contact</a></li>
            </ul>
        </nav>
      </div>
      <div class=" col-lg-3 col-md-3 col-sm-12"><h1 class="text-uppercase">emails</h1><a
        href="mailto:contact@pal-aviation.com"><i class="bi bi-envelope"></i> contact@pal-aviation.com<br></a><a
        href="mailto:aog@pal-aviation.com"> <i class="bi bi-envelope"></i> aog@pal-aviation.com<br></a><a
        class=""
        href="mailto:support@pal-aviation.com"><i class="bi bi-envelope"></i> support@pal-aviation.com<br></a><a
        href="mailto:sales@pal-aviation.com"><i class="bi bi-envelope"></i> sales@pal-aviation.com<br></a><a
        class="" href="mailto:legal@pal-aviation.com"><i class="bi bi-envelope"></i> legal@pal-aviation.com<br></a>
      </div>
      <div class=" col-lg-3 col-md-3 col-sm-12"><h1 class="text-uppercase">Get in touch<br></h1>
        <a >
        <div class="">
          <div><i class="bi bi-geo-alt"></i><span>Casablanca, Morocco</span></div>
        </div>
      </a>
        <a class="" href="tel:+212522903521" target="_self">
        <div class="">
          <div><i class="bi bi-phone"></i><span>(+212) 345 65 76 32</span></div>
        </div>
      </a>
        <a class="" href="tel:+212649319434" target="_self">
        <div class="">
          <div><i class="bi bi-phone"></i><span>(+212) 765 22 98 31</span></div>
        </div>
       </a>
      </div>
    </div>
    <ul class="navbar-nav gap-2 flex-row align-self-start justify-content-center">
      <li class="twitter "><a href="https://twitter.com/?lang=fr" class=" "><i
        class="btn btn-icon btn-social bi bi-twitter btn-inversen"></i></a>
      </li>
      <li class="facebook"><a href="https://fr-fr.facebook.com/" class=""><i
        class="btn btn-icon btn-social bi bi-facebook btn-inverse"></i></a>
      </li>
      <li class="instagram"><a href="https://www.instagram.com/" class=""><i
        class="btn btn-icon btn-social bi bi-instagram btn-inverse"></i></a></li>
      <li class="whatsapp"><a href="#" class=""><i
        class="btn btn-icon btn-social bi bi-whatsapp btn-inverse"></i></a>
      </li>
      <li class="linkedin"><a href="https://www.Linkedin.com/" class=""><i
        class="btn btn-icon btn-social bi bi-linkedin btn-inverse"></i></a></li>
      <li class="youtube"><a href="https://www.youtube.com/" class=""><i
        class="btn btn-icon btn-social bi bi-youtube btn-inverse"></i></a></li>
    </ul>
    <hr>
    <div class="text-center">© Pal - Aviation 2023 - All Rights Reserved
    </div>
    <div class="text-center">Made by
      <a class="text-center link-info" href="http://dk-digital.c1.biz/home">
        <span title="DOUGNON KALILOU">KD Digital services</span>
      </a>
    </div>
  </div>
</footer>
