.footer-style{
  background-color: black;
  color: #449a93;
  padding: 20px;
}
a{
  text-decoration: none;
  font-family: Arial;
  color: white;
}
ul li{
  list-style: none;
  text-transform: uppercase;
}
i{
  margin-right: 5px;
  color: #449a93;
}
