<div class="style-about">
  <section>
    <div class=" mb-5">
    <h1>We keep the world flying .</h1>
        <div>
          Pal Aviation is an aftermarket aircraft part supplier providing rotable<br>
          spares for your commercial, regional and business aircraft.
        </div>
    </div>
      <div class="">
        <h1>We are experts, but we never stop listening.</h1>
          <div>Our DNA of honesty, courtesy, respect and family are the foundation of our business. We
          always
          focus on our customer’s needs, with our dynamic team; team of constantly fine-tuning our
          aviation services to deliver the best solutions. of constantly fine-tuning our aviation
          services to deliver the best solutions.
        </div><br>
          <div>Pal Aviation is specializes in sale, lease, exchange and repair of aircraft parts, engines, and
            components with unrivaled expertise and proven strategies for supporting operators .
            Pal Aviation is now one of the largest independent aviation parts suppliers covering every
            aerospace market sector.
          </div>
    </div>
  </section>
  <section>
      <h1 class="mb-3 ">
        WELCOME TO PAL AVIATION
      </h1>
    <div class="row">
      <div class="col-lg-5 col-md-4 col-sm-12 ">
        <div class="">
          PAL AVIATION is an aftermarket aircraft part supplier providing rotable spares for your commercial,
          regional and business aircraft.
          We have a team of highly experienced and enthusiastic personnel that set us apart from the
          competition in terms of quality and customer service. Our goal is to build long term business
          relationships with our clients by providing excellent customer support services.
          Through sale and exchange programs, consignment, loans and repair management, 24/7 AOG
          service, consumables and expendables, our highly trained team of aircraft parts specialists works
          hard to keep your flight operations straightforward, efficient, and effective.
        </div>
      </div>
      <div class="col-lg-7 col-md-4 col-sm-12 ">
        <img alt="" src="assets/imgs/img.png" class="img-w">
      </div>
    </div>
  </section>
</div>

