section{
  margin: 5% 10% 5% 10%;
  text-align: justify;
}
.style-about{
  box-shadow: 5px 5px 44px 0px rgba(206, 187, 187, 0.29);
  border-radius: 5px;
  margin: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

img{
  width: 500px;
  box-shadow: 5px 5px 44px 0px rgba(0,0,0,0.29);
  border-radius: 5px;
}
h1{
 color: #76b2e5;
  margin-bottom: 10px;
}
@media (max-width:990px) {
  section{
    margin-left: 5%;
    margin-top: 2%;
  }

  .img-w{
    width: 90%;
    margin-top: 10px;
  }
}
