section{
  margin-left: 10%;
  margin-top: 5%;
}
.style-about{
  box-shadow: 5px 5px 44px 0px rgba(206, 187, 187, 0.29);
  border-radius: 5px;
  margin: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-style,.text-style3{
  font-size: 20px;
  color: white;
}
.text-style1{
  font-weight: 200;
  font-size: 50px;
  line-height: 1;
  color: #449a93;
  margin-right: 80px;
  text-align: center;
}
img{
  width: 500px;
  box-shadow: 5px 5px 44px 0px rgba(0,0,0,0.29);
  border-radius: 5px;
}
h1{
  font-weight: 200;
  font-size: 55px;
  line-height: 1;
  color: #449a93;
}
@media (max-width:990px) {
  section{
    margin-left: 5%;
    margin-top: 2%;
  }
  .text-style1{
    font-weight: 200;
    font-size: 50px;
  }
  img{
    width: 330px;
  }
  .text-style{
    font-size: 15px;
  }
  h1,.text-style1{
    font-weight: 200;
    font-size: 20px;

  }
  .img-w{
    width: 90%;
    margin-top: 10px;
  }
}
