<div class="container mt-5 mb-5">
  <div class="row mt-5 mb-5">
      <div class=" col-lg-8 col-md-8 col-sm-12 form-style">
        <form [formGroup]="contactFormGroup" (ngSubmit)="sendEmail($event)">
        <div class="mb-3 row">
          <div class="col-6">
            <label  class="form-label"  >First Name</label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" >
          </div>
          <div class="col-6">
            <label  class="form-label">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
          </div>
        </div>
        <div class="mb-3">
          <label  class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
        </div>
          <div class="mb-3 row">
            <div class="col-6">
              <label  class="form-label"  >Country</label>
              <input type="text" class="form-control" formControlName="country" placeholder="Country" >
            </div>
            <div class="col-6">
              <label  class="form-label">Phone</label>
              <input type="tel" class="form-control" formControlName="phone" placeholder="Phone">
            </div>
          </div>
        <div class="mb-3">
          <label class="form-label">Subject</label>
          <input type="email" class="form-control" formControlName="subject" placeholder="Subject">
        </div>
        <div class="mb-3">
          <label  class="form-label">Your Message</label>
          <textarea class="form-control" formControlName="message" rows="5"></textarea>
        </div>
        <div class="d-grid">
          <button type="submit" class=" btn ">SUBMIT</button>
        </div>
        </form>
      </div>
    <div class=" col-lg-2 col-md-4 col-sm-12 mb-5 mt-5 ms-1">
         <img src="assets/imgs/logo-pal-aviation4.png" alt="logo" class="">
    </div>
  </div>
  <div class="  ">
    <iframe src="http://maps.google.com/maps?q=33.57373364158712,-7.588464576310154&z=16&output=embed"
            height="500"
            width="100%"
    >
    </iframe>
  </div>
</div>

