.form-style{
  background-color: #1e1a34;
  box-shadow: 5px 5px 44px 0px rgba(206, 187, 187, 0.29);
  border-radius: 5px;
  padding: 20px;
  color: white;
}
input{
  padding: 20px;
}
label{
  font-weight: bold;
}
