<div class="container mt-5 mb-5">
  <div class="row">
    <div class="card col-lg-4 col-md-4 col-sm-12">
      <div class="card-body">
        <div class=" card-icon">
          <i class="bi bi-bar-chart"></i>
        </div>
        <h1 class=" card-heading">OUTRIGHT SALE</h1>
      </div>
    </div>
    <div class="card col-lg-4 col-md-4 col-sm-12">
      <div class="card-body">
        <div class=" card-icon">
          <i class="bi bi-gear"></i>
        </div>
        <h1 class=" card-heading">LOANS & REPAIR EXCHANGE</h1>
      </div>
    </div>
    <div class="card col-lg-4 col-md-4 col-sm-12">
      <div class="card-body">
        <div class=" card-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        <h1  class=" card-heading">STANDARD EXCHANGE OR FLAT EXCHANGE<br><br></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-lg-4 col-md-4 col-sm-12">
      <div class="card-body">
        <div class=" card-icon">
          <i class="bi bi-people"></i>
        </div>
        <h1 class=" card-heading">24/7 AOG&nbsp;SERVICE</h1>
      </div>
    </div>
 <!--   <div class="card col-lg-4 col-md-4 col-sm-12">
      <div class="card-body">
        <div class=" card-icon">
          <i class="bi bi-shop"></i>
        </div>
        <h1  class=" card-heading">CONSUMABLES AND EXPENDABLES<br></h1>
      </div>
    </div>-->
    <div class="card col-lg-4 col-md-4 col-sm-12">
      <div class="card-body">
        <div class=" card-icon">
          <i class="bi bi-house-gear"></i>
        </div>
        <h1 class=" card-heading">LEASING<br><br></h1>
      </div>
    </div>
  </div>
</div>
<div class="container service-style">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>OUTRIGHT <br>SALE</h1>
      <div>
        <div>
          Some people say that size doesn’t matter, but they don’t have unlimited access to the world’s
          largest available aircraft component inventory.
          We not only offer size, but speed and satisfaction too, with immediate global dispatch
          24/7 on a sale, loan or exchange basis.
        </div><br>
        <div>
          Pal&#39;s Aviation component pool is truly huge, covering everything from Consumables to
          Rotables, chimicals products, Landing Gear to Engines, aerostructures and all available
          immediately from our expert AOG team.
        </div><br>
        <div>
          Please note qualité is our ADN, and all aircraft rotables are supplied with appropriate
          airworthiness release certification from OEM’s and approved workshops.
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/sales1.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/loan4.jpg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>LOANS & REPAIR EXCHANGE</h1>
      <div>For many airlines component repair can be a stressful business. Dealing with workshops,
        tackling tough timescales, negotiating deals and delivering the goods on time - with so many
        balls in the air, you can easily keep your fleet on the ground.
        Let Pal AViation take the stress out of Repair Management and let us oversee every aspect
        of the cycle.</div>
      <div>
        When you use Pal Aviation we can ensure the best quality work, offer the most competitive
        and flexible finance options and delivery on time - every time.
        For Repair Management, you’ll also benefit from unrivalled customer service from a
        dedicated global team, and unlimited access to the world’s largest available aircraft
        component inventory. From beginning <br>
        In Order to keep your asset/SNs or due to some reasons. We offer high-quality Parts and
        including LG, APUs, Engines Parts with practical lease and support conditions to ensure
        minimum disruption and downtime for your aircraft – often with minimal return requirements.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>STANDARD EXCHANGE OR FLAT EXCHANGE</h1>
      <div>Pal Aviation helping you save space and no need to maintain high cost units at your
        inventories<br>
        All the exchange units are provided with full certification, traceability and warranty. The
        exchange units are shipped the same day to avoid AOG situations and keep the aircraft
        flying, without any increase in inventory costs. We offer a competive price to avoid any
        charge.</div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/exchange.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="https://www.uno-aviation.com/wp-content/uploads/2023/03/happy-call-center-agent-wearing-headset-while-talking-with-clients-and-working-in-the-office-1536x1024.jpg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>AOG SERVICE</h1>
      <div>Our AOG team is available 24/7.
        We stock thousands of line items of airworthy material that can always be dispatched within an hour.
        Please reach out anytime via phone or email for your
        urgent AOG requirements.
      </div>
    </div>
  </div>
 <!-- <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>CONSUMABLES AND EXPENDABLES</h1>
      <div>Pal Aviation has a large and growing inventory of expendables and consumables.
        Our management program is designed to lower cost and increase efficiency. We are actively
        looking for opportunities to purchase large packages of these materials.</div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="https://www.uno-aviation.com/wp-content/uploads/2023/03/industrial-building-large-warehouse-interior-with-forklift-and-palette-with-goods-and-shelves-scaled.jpg">
    </div>
  </div>-->
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="https://www.uno-aviation.com/wp-content/uploads/2023/03/alexander-schimmeck-DSOohFTAfno-unsplash-1536x1022.jpg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>LEASING</h1>
      <div>Pal Aviation’s leasing expertise, and commitment to constantly increasing our pool, provides
        you with a unique partner who can help to unlock the value in surplus aviation assets either
        through purchase or by marketing them on your behalf</div><br>
    </div>
  </div>
</div>
