<div class="container mt-5 mb-5">
  <div class="row">
    <div class="card col-lg-4 col-md-4 col-sm-12">
      <a href="/service/#sales-section">
      <div class="card-body">
        <div class=" card-icon">
          <i class="bi bi-bar-chart"></i>
        </div>
        <h1 class=" card-heading">Sales,Loans & Exchanges<br><br></h1>
      </div>
      </a>
    </div>
    <div class="card col-lg-4 col-md-4 col-sm-12">
      <a href="/service/#repair-section">
      <div class="card-body">
        <div class=" card-icon">
          <i class="bi bi-gear"></i>
        </div>
        <h1 class=" card-heading">Repair Management<br><br></h1>
      </div>
      </a>
    </div>
    <div class="card col-lg-4 col-md-4 col-sm-12">
      <a href="/service/#aog-section">
        <div class="card-body">
          <div class=" card-icon">
            <i class="bi bi-people"></i>
          </div>
          <h1 class=" card-heading">24/7 AOG&nbsp;SERVICE<br><br></h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="card col-lg-4 col-md-4 col-sm-12">
      <a href="/service/#leasing-section">
      <div class="card-body">
        <div class=" card-icon">
          <i class="bi bi-house-gear"></i>
        </div>
        <h1 class=" card-heading">LEASING<br><br></h1>
      </div>
      </a>
    </div>
  </div>
</div>
<div class="container service-style mb-5">
  <div class="row" id="sales-section">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>Sales,Loans & Exchanges</h1>
      <div>
        <div>
          Some people say that size doesn’t matter, but they don’t have unlimited access to the world’s largest
          available aircraft component inventory.<br>
          We not only offer size, but speed and satisfaction too, with immediate global dispatch 24/7 on a sale,
          loan or exchange basis.<br>
          Pal Aviation´s aviation component pool is truly Nose-to-Tail, covering everything from Consumables
          to Rotables, Landing Gear to Engines, and all available immediately from our expert AOG team.<br>
          Traceability is guaranteed, and all aircraft rotables are supplied with appropriate airworthiness
          release certification from OEM’s and approved workshops.
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/sales1.jpg">
    </div>
  </div>
  <div class="row" id="repair-section">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="assets/imgs/loan4.jpg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>Repair Management</h1>
      <div>Pal aviation aircraft component repairs each year and counting. You can be a vital component in Pal
        Aviation&#39;s unbeatable Nose-to-Tail service - the fast, flexible repair solution.</div>
      <div>
        When you use Pal Aviation for Repair Management, you’ll also benefit from unrivalled customer
        service from a dedicated global team, and unlimited access to the world’s largest available aircraft
        component inventory. From beginning to end, from nose to tail - we deliver.
      </div>
    </div>
  </div>
  <div class="row" id="aog-section">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>AOG SERVICE</h1>
      <div>Our AOG team is available 24/7.
        We stock thousands of line items of airworthy material that can always be dispatched within an hour.
        Please reach out anytime via phone or email for your
        urgent AOG requirements.
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="https://www.uno-aviation.com/wp-content/uploads/2023/03/happy-call-center-agent-wearing-headset-while-talking-with-clients-and-working-in-the-office-1536x1024.jpg">
    </div>
  </div>
  <div class="row" id="leasing-section">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="https://www.uno-aviation.com/wp-content/uploads/2023/03/alexander-schimmeck-DSOohFTAfno-unsplash-1536x1022.jpg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h1>LEASING</h1>
      <div>Pal Aviation’s leasing expertise, and commitment to constantly increasing our pool, provides
        you with a unique partner who can help to unlock the value in surplus aviation assets either
        through purchase or by marketing them on your behalf
      </div><br>
    </div>
  </div>
</div>
