nav{
  background-color: #1d3244;
  box-shadow: 5px 5px 44px 0px rgba(0,0,0,0.29);
}
.navbar-nav li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  white-space: nowrap;
  text-align: left;
  margin-right: 10px;
}
.navbar-nav li a{
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.titleStyle1{
  font-family:Algerian;
  font-size: 30px;
  color: brown;
}
.titleStyle2{
  font-family: Algerian;
  font-size: 25px;
  color: white;
}
i{
  color: aqua;
  font-size: 30px;
}
.marge{
  margin-right: 10%;
  margin-left: 10%;
  padding: 0%;
}
.header-right {
  justify-content:flex-end;
}
.header-left {
  justify-content: flex-start;
}
.header-left img{
  width:10%;
}

.offcanvas-body ul li a{
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-left: 45%;
}

.offcanvasStyle{
  color: white;
  font-size: 40px;
  visibility: hidden;

}
.offcanvas-end{
  background-color: #19354d;
}
.offcanvas-header{
  color: white !important;
}
.offcanvasClose{
  margin-left: 45%;
}
.offcanvasClose i{
  font-size: 30px;
  margin-left: 45%;
}
hr{
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}
@media (max-width:990px) {
  .offcanvasStyle{
    visibility: visible;

  }
}
