<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container ">
    <div class="navbar-brand">
      <!--<img alt="logo" src="assets/imgs/logo-pal-aviation2.png" class="">-->
      <img alt="logo" src="assets/imgs/logoPal1.png" class="">
    </div>
    <div class="collapse navbar-collapse header-right " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active"
                                href="accueil">Home</a></li>
        <li class="nav-item"><a class="nav-link"
                                href="about">About Us</a></li>
        <li class="nav-item"><a class="nav-link"
                                href="ourService">Services</a></li>
        <li class="nav-item">
          <a class="nav-link" href="stocks" aria-current="page">Our Stock</a></li>
        <li class="nav-item"><a class="nav-link"
                                href="contact"><button class="btn text-uppercase pe-3 ps-3">Contact us</button></a></li>
      </ul>
    </div>
    <div class="offcanvasStyle" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
         aria-controls="offcanvasRight">
      <i class="bi bi-list me-3"></i>
    </div>
  </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">

    <span class="offcanvasClose" data-bs-dismiss="offcanvas">
      <i class="bi bi-x-lg"></i>
    </span>
  </div>
  <div class="offcanvas-body ">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link "
                              href="accueil">Home</a></li>
      <hr>
      <li class="nav-item"><a class="nav-link"
                              href="about">About Us</a></li>
      <hr>
      <li class="nav-item"><a class="nav-link"
                              href="ourService">Services</a></li>
      <hr>
      <li class="nav-item">
        <a class="nav-link" href="stocks" aria-current="page">Our Stock</a></li>
      <hr>
      <li class="nav-item"><a class="nav-link"
                              href="contact">Contact</a></li>
    </ul>
  </div>
</div>

