nav {
  background-color: rgba(0, 0, 0, .2);
  backdrop-filter: blur(30px);
  box-shadow: 5px 5px 44px 0px rgba(0, 0, 0, 0.29);
  text-align: initial;
  text-transform: uppercase;
}

.navbar-nav li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  white-space: nowrap;
  text-align: left;
  margin-right: 10px;
}

.navbar-nav li a ,.btn{
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #07365d;
}
.navbar-brand img {
 border-radius: 50%;
  width: 15%;
}
.marge {
  margin-right: 10%;
  margin-left: 10%;
  padding: 0%;
}

.offcanvas-body ul li a {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-left: 45%;
}

.offcanvasStyle {
  color: white;
  font-size: 40px;
  visibility: hidden;

}

.offcanvas-end {
  background-color: rgba(0, 0, 0, .2);
  backdrop-filter: blur(30px);
}

.offcanvas-header {
  color: white !important;
}

.offcanvasClose {
  margin-left: 45%;
}

.offcanvasClose i {
  font-size: 30px;
  margin-left: 45%;
}

@media (max-width: 990px) {
  .offcanvasStyle {
    visibility: visible;
  }

  .navbar-brand {
    width: 50%;
  }

  .navbar-brand img {
    width: 50%;
  }

}
