<div *ngIf="stocksList">
  <div class="container mt-5 mb-5">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="input-group mb-5">
        <input type="text" formControlName="keyWord" class="form-control p-3 " placeholder="Search by part number"  aria-describedby="button-addon2">
        <button class="btn " type="submit" id="button-addon2">Rearch piece</button>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-striped table-responsive-sm ">
        <thead>
        <tr>
          <th>Part Number</th>
          <th>Description</th>
          <th>Condition Code</th>
          <th>Quantity</th>
          <th>UoM</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let piece of stocksList">
          <td>    {{piece.partNumber}}</td>
          <td>    {{piece.description}} </td>
          <td>
            {{piece.conditionCode}}</td>
          <td>    {{piece.quantity}} </td>
          <td>
            {{piece.uoM}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
