/* You can add global styles to this file, and also import other style files */
body{
  background-color:aliceblue !important;
  font-family:Lato, sans-serif ;
  font-size: 1rem;
  line-height: 1.5;
}
footer{
  background-color: #171212 !important;
  font-family: "Degular" , Sans-serif ;
  color: white;
  padding: 20px;
}
.btn{
  background-color: aliceblue !important;
}

