<div>
  <section class=" ">
    <div class="">
      <div class="row">
        <div class=" col-lg-5 col-md-4 col-sm-12 box-left-style ">
          <div>
            <h3 class="mt-5">About Us</h3>
            <h1 class="mb-5 ">WHO WE ARE ?</h1>
            <div class="about-style">
              <div>A global aviation leader , Pal Aviation specializes in sale, lease and exchange
                of aircraft parts, engines , and components with unrivaled expertise and proven strategies for supporting
                operators .
              </div>
              <div>Pal Aviation is now one of the largest independent aviation parts distributors
                in the world covering every aerospace market sector. We've been in the business of providing comprehensive
                aircraft inventory support for airlines, MROs, OEMs, and distributors. We hold
              </div>
              <div>over a million line items of inventory on the shelf consisting of consumable,
                rotable and airframe spares for an extensive range of aircraft.
              </div>
            </div>
            <button type="button" class="btn btn-info" ><a class="" href=" https://kaliloudougnon.github.io/about">Learn more&nbsp; <i class="bi bi-arrow-right"></i></a></button>
          </div>
        </div>
        <div class=" box-image col-lg-6 col-md-4 col-sm-12">
          <div class="transform-style"><img alt=""
                    src="assets/imgs/home1.png"
                    class=" image-globle-style mb-3"
          >
          </div>
          <div  class="transform-style"><img
            src="assets/imgs/home2.png"
            class=" image-globle-style"
          >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ct-section ">
    <div class=""><h3>OFFERS services</h3>
      <h1>WHAT WE OFFER ?</h1>
      <div class="row  ">
        <div class="ct-div-block  transform-style mb-5 col-lg-4 col-md-4 col-sm-12">
          <div class=" card-global">
            <div class=" card-icon">
              <i class="bi bi-bar-chart"></i>
            </div>
            <h1 class=" card-heading">OUTRIGHT<br>SALE</h1>
            <p class="ct-text-block card-text">Pal Aviation’s solutions support any kind of
              Chemicals ,Consumables, Rotables.&nbsp;We are available 24/7 to help the customer's needs.</p>
            <button type="button" class="btn btn-info mt-3" ><a class="" href="https://uno-aviation.com/services/">Learn more&nbsp; <i class="bi bi-arrow-right"></i></a></button>
          </div>
        </div>
        <div class="ct-div-block transform-style mb-5 col-lg-4 col-md-4 col-sm-12">
          <div class=" card-global">
            <div class=" card-icon">
              <i class="bi bi-gear"></i>
            </div>
            <h1 id="headline-33-11" class=" card-heading">LOANS AND REPAIR MANAGEMENT</h1>
            <p id="text_block-34-11" class="ct-text-block card-text">When an aircraft part breaks down, allow our team
              to get you off the ground and flying confidently with our loans and repair management services.</p>
            <button type="button" class="btn btn-info mt-3" ><a class="" href="https://uno-aviation.com/services/">Learn more <i class="bi bi-arrow-right"></i></a></button>
          </div>
        </div>
        <div class="ct-div-block transform-style mb-5 col-lg-4 col-md-4 col-sm-12">
          <div class=" card-global">
            <div class=" card-icon">
              <i class="bi bi-speedometer2"></i>
            </div>
            <h1 id="headline-39-11" class="ct-headline card-heading">EXCHANGE<br><br></h1>
            <p id="text_block-40-11" class="ct-text-block card-text">Helping you save space and no need to maintain high
              cost units at your inventories, Pal Aviation offers Exchange with competitive rate.</p><br>
            <button type="button" class="btn btn-info mt-3" ><a class="" href="https://uno-aviation.com/services/">Learn more <i class="bi bi-arrow-right"></i></a></button>
          </div>
        </div>
      </div>
      <div class=" row ">
        <div class="ct-div-block transform-style mb-5 col-lg-4 col-md-4 col-sm-12">
          <div class=" card-global">
            <div class=" card-icon">
              <i class="bi bi-people"></i>
            </div>
            <h1 id="headline-46-11" class=" card-heading">24/7 AOG&nbsp;<br>SERVICE</h1>
            <p id="text_block-47-11" class="ct-text-block card-text">Our AOG team is available 24/7/365. We stock
              thousands of line items of airworthy material that can always be dispatched within an hour.</p>
            <button type="button" class="btn btn-info mt-3" ><a class="" href="https://uno-aviation.com/services/">Learn more <i class="bi bi-arrow-right"></i></a></button>
          </div>
        </div>
        <div class="ct-div-block transform-style mb-5 col-lg-4 col-md-4 col-sm-12">
          <div class=" card-global">
            <div class=" card-icon">
              <i class="bi bi-shop"></i>
            </div>
            <h1 id="headline-52-11" class=" card-heading">CONSUMABLES AND EXPENDABLES<br></h1>
            <p id="text_block-53-11" class="ct-text-block card-text">Pal Aviation has a large and growing<br>inventory
              of expendables and consumables. Our management program is designed to...</p>
            <button type="button" class="btn btn-info mt-3" ><a class="" href="https://uno-aviation.com/services/">Learn more <i class="bi bi-arrow-right"></i></a></button>
          </div>
        </div>
        <div class="ct-div-block  transform-style mb-5 col-lg-4 col-md-4 col-sm-12">
          <div class=" card-global">
            <div class=" card-icon">
              <i class="bi bi-house-gear"></i>
            </div>
            <h1 class=" card-heading">LEASING<br><br></h1>
            <p class=" ">Pal Aviation is a company that offers long-term
              leasing options for planes.<br>This allows individuals and businesses to have access to an aircraft for...
            </p>
           <button type="button" class="btn btn-info" ><a class="" href="https://uno-aviation.com/services/">Learn more&nbsp; <i class="bi bi-arrow-right"></i></a></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class=" section-bottun-style">
    <div class="">
      <div class="div-block-style">
        <div class="div-block-style-d-flex h-25">
          <div class="div-block-left "><h1 class="">AMONG OUR<br><span>PARTNERS</span> WHO
            <br><b><span>TRUST</span></b> US</h1>
          </div>
          <div class="div-block-right "><img
            alt=""
            src="https://www.uno-aviation.com/wp-content/uploads/2023/03/amazing-view-from-the-plane-window-airplane-scaled.jpg"
            class="ct-image"
          >
          </div>
        </div>
        <div class="row mt-3 mb-5 transform-style">
          <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
            <div class=" block-logo  col-lg-3 col-md-4 col-sm-12">
              <img src="assets/imgs/{{i}}.png">
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</div>
