section {
  margin: 10%;
}

a {
  text-decoration: none;
  color: white;
}
.carousel-item img {
  width:528px;
  height:250px;
  box-shadow: 5px 5px 44px 0px rgba(0, 0, 0, 0.29);
}
.card-header {
  background-color: #76b2e5;
  color: white;
  height: 70px;
}
.card-body {
  height: 290px;
  text-align: justify;
  text-justify: inter-word;

}
.card-body div {
  height: 160px;
}
.card-footer {
  background-color: #76b2e5;
}
.card-icon i {
  font-size:30px;
  color: #fdf9f9;
}
.card-heading {
  font-size: 20px !important;
}
img {
  border-style: none;
  max-width: 100%;
}
.box-left-style, .section-style {
  background-color: white;
  box-shadow: 5px 5px 44px 0px rgba(206, 187, 187, 0.29);
  border-radius: 5px;
}
.style-d-fledx {
  display: flex;
  justify-content: center;
}
.section-style {
  text-align: left;
  padding: 5%;
}
.block-logo {
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 18%;
}

.div-block-left {
  text-align: center;
  padding: 9%;
  display: flex;
  background-color: #76b2e5;
  color: white;
  width: 50%;
}

.div-block-right {
  width: 50%;
}
h3{
  color: #76b2e5;
  text-transform: uppercase;
}

.animate-charcter {
  animation: textclip  2s linear forwards;
}

@keyframes textclip {
  0% {
    transform: translateY(80%);
  }
}
.animate-img-top {
  animation: imgcliptop  2s linear forwards;
}
@keyframes imgcliptop {
  0% {
    transform: translateY(-80%);
  }
}
@media (max-width: 990px) {
  .card-global {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px;
    height: 100%;
  }

  .style-d-fledx {
    display: block;
  }

  .div-block-left {
    width: 100%;
    padding-left: 18%;
  }

  .div-block-right {
    width: 100%;
  }

  .box-image {
    margin-top: 15px;
  }
  .carousel-item img {
    width:100%;
    height:auto;
  }
}
