<div>
  <section class=" ">
    <div class="">
      <div class="row">
        <div class=" col-lg-5 col-md-4 col-sm-12 box-left-style animate-charcter">
          <div>
            <h3 class=" mt-3">We are experts, but we never stop listening.</h3> <br>
            <div class="mb-5">
              <div>Our DNA of honesty, courtesy, respect and family are the foundation of our business. We
                always
                focus on our customer’s needs, with our dynamic team; team of constantly fine-tuning our
                aviation services to deliver the best solutions.
              </div>
              <div>Pal Aviation is specializes in sale, lease, exchange and repair of aircraft parts, engines, and
                components with unrivaled expertise and proven strategies for supporting operators .
                Pal Aviation is now one of the largest independent aviation parts suppliers covering every
                aerospace market sector.
              </div>
            </div><br>
            <button type="button" class="btn mb-3"><a class="" href="about">Learn more <i
              class="bi bi-arrow-right"></i></a>
            </button>
          </div>
        </div>
        <div class=" col-lg-6 col-md-4 col-sm-12">
          <div id="carouselExampleInterval" class="carousel small mb-2" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active animate-img-top" data-bs-interval="10000">
                <img src="assets/imgs/F2.jpg" class=" rounded" alt="photo">
              </div>
              <div class="carousel-item animate-charcter" data-bs-interval="10000">
                <img src="assets/imgs/F3.jpg" class=" rounded" alt="photo">
              </div>
              <div class="carousel-item animate-charcter" data-bs-interval="10000">
                <img src="assets/imgs/F5.jpg" class=" rounded" alt="photo">
              </div>
            </div>
          </div>
          <div id="carouselExampleInterval1" class="carousel small" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active animate-img-top" data-bs-interval="10000">
                <img src="assets/imgs/F1.jpg" class=" rounded" alt="photo">
              </div>
              <div class="carousel-item animate-charcter" data-bs-interval="10000">
                <img src="assets/imgs/F4.jpg" class=" rounded" alt="photo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-style ">
    <div>
      <h3 class="text-center">OUR services</h3>
      <h3 class="text-center">WHAT WE OFFER ?</h3>
      <div class="row mt-5">
        <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let service of services">
          <div class="card mb-3">
            <div class="card-header">
              <div class=" card-icon pt-1">
                <i class="{{service.icon}}"></i>
                <span class=" card-heading"> {{service.header}}</span>
              </div>
            </div>
            <div class="card-body">
              <div class="">
                {{service.text}}
              </div>
              <button type="button" class="btn  mt-3"><a class="" href="{{service.more}}">Learn more&nbsp; <i
                class="bi bi-arrow-right"></i></a>
              </button>
            </div>
          </div>
        </div>
<!--
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div id="carouselExampleInterval3" class="carousel " data-bs-ride="carousel">
            <div class="">
              <div class="carousel-item active animate-img-top" data-bs-interval="7000">
                <h1>Sales,Loans & Exchanges</h1>
              </div>
              <div class="carousel-item  animate-img-top" data-bs-interval="10000">
                <img src="assets/imgs/F6.jpg" class=" " alt="photo">
              </div>
              <div class="carousel-item  animate-img-top" data-bs-interval="7000">
                <h1>Repair Management</h1>
              </div>
              <div class="carousel-item animate-charcter" data-bs-interval="10000">
                <img src="assets/imgs/F7.jpg" class=" " alt="photo">
              </div>
              <div class="carousel-item  animate-img-top" data-bs-interval="7000">
                <h1>AOG SERVICE</h1>
              </div>
              <div class="carousel-item animate-charcter" data-bs-interval="10000">
                <img src="assets/imgs/F8.jpg" class=" " alt="photo">
              </div>
            </div>
          </div>
        </div>
-->
      </div>
    </div>
  </section>
  <div class="">
      <div class=" style-d-fledx">
        <div class="div-block-left ">
          <h1 class="">AMONG OUR<br><span>PARTNERS</span> WHO
          <br><b><span>TRUST</span></b> US</h1>
        </div>
        <div class="div-block-right "><img
          alt="photo"
          src="https://www.planetegrandesecoles.com/wp-content/uploads/2022/08/Tips-et-bons-plans-pour-voyager-pas-cher-en-etant-etudiant.-Avion-mer-vacances-pas-cher-850x560.png"
        >
        </div>
      </div>
  </div>
</div>



